{% extends "base.html" %}

{% block title %}IPA Library - Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="POST" action="{{ url_for('auth.signup') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password() }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
{% endblock %}
